DATABASE_URL="postgresql://mentor_ia:mentor_ia@localhost:5432/mentor_ia?schema=public"
NODE_ENV=development
API_PREFIX="api/v1"
API_DOCS_PATH="api/docs"
SWAGGER_ENABLED=true
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://mentor_ia:mentor_ia@localhost:5672"
RABBITMQ_INSIGHTS_QUEUE="insights_queue"
PORT=3001
